body {
  background: linear-gradient(-45deg, #4e413d, #596721, #3b6371, #356f61);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  width: 100%;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.section-stage {
  width: 800px;
  height: 60px;
  border: 3px solid rgb(45, 43, 43);
  margin: 30px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 10px 0px 15px 5px rgba(0, 0, 0, 0.45) inset;
}
h1 {
  margin-bottom: 10px;
  color: rgb(36, 35, 35);
}
.btn-CountSum {
  display: flex;
  justify-content: center;
}
.btn-count,
.btn-sum {
  width: 180px;
  height: 45px;
  border-radius: 10px;
  box-shadow: 15px 2px 25px 5px rgba(0, 0, 0, 0.75) inset;
  margin-right: 50px;
  font-size: x-large;
}
.chair-flex {
  width: 1200px;
  height: 500px;
  display: grid;
  grid-template-columns: 300px 550px 300px;

  /* /* justify-content: center; */
  align-items: center;
  margin: 10px auto;
  gap: 10px;
}
.chair-flex div {
  border: 1px solid #2c2a2a;
  padding: 4px;
  /* max-height: 250px; */
  background-color: transparent;
  box-shadow: 15px 2px 25px 5px rgba(0, 0, 0, 0.55) inset;

  border-radius: 5px;
  text-align: center;
}
.chair-A {
  grid-area: 1/2;
}

.chair-D {
  grid-area: 2/2;
}
.btn-Chair {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 2px;
  box-shadow: 15px 2px 25px 5px rgba(0, 0, 0, 0.75) inset;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}
.btn-Chairlevel1{
  background-color: #20584b;
}
.btn-Chairlevel2{
  background-color:rgb(215, 215, 55);

}
.btn-Chairlevel3{
  background-color:rgb(185, 62, 62);
}
.tietle-price {
  width: 60px;
  height: 20px;
  position: absolute;
  z-index: 1;
  display: none;
  /* background-color: aliceblue; */
}
.btn-Chair:hover .tietle-price {
  display: block;
  background-color:whitesmoke

}
